Source: wx-keyboard-tester
Section: misc
Priority: optional
Build-Depends: debhelper (>= 7)
Maintainer: Ryan Niebur <ryan@debian.org>
Standards-Version: 3.8.3

Package: wx-keyboard-tester
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}, libxml-mini-perl, libfile-find-rule-perl, libwx-perl (>= 0.93), xorg, xinit
Description: super awesome keyboard tester
 wxKeyboardTester is a super awesome keyboard tester used by Freegeek
 to test donated keyboards. It supports mac and 104-key keyboards.
